.header {
  margin: 15px;
}
.header_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header_nav {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.header_title {
  text-indent: 30px;
  font-family: "Raleway", sans-serif;
  color: var(--gray-color);
}
.header_list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.header_list2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.header_menu--item {
  font-family: "Roboto", sans-serif;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_link {
  text-decoration: none;
  margin-right: 80px;
  color: var(--gray-color);
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_link::after {
  content: "";
  display: none;
  width: 100%;
  height: 4px;
  background-color: var(--blu-color);
  position: absolute;
  border-radius: 2px;
  top: 44px;
}
.header_link:hover::after {
  display: block;
}
.header_links {
  text-decoration: none;
  margin-right: 80px;
  color: var(--gray2-color);
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_image {
  width: 50px;
  height: 25px;
  color: var(--gray2-color);
}
.header span {
  color: var(--blu-color);
}
.header a:hover {
  color: var(--blu-color);
}

:root {
  --gray-color: #212121;
  --white-color:#FFFFFF;
  --blu-color:#2196F3;
  --gray2-color:#757575;
  --white2-color: #F5F4FA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-div {
  background-image: url(../gcimage.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 600px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-div {
    background-image: url(../gcimage@2x.png);
  }
}
.main-title {
  color: var(--white-color);
  font-size: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  padding-top: 250px;
  letter-spacing: 6%;
  padding-top: 160px;
  width: 696px;
  height: 120px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.main-buttonn {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--blu-color);
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  box-shadow: 1px 1px 2px var(--blu-color);
}
.main-buttom {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.main-buttonn:hover {
  background-color: #a7d8ff;
}
.main_section--title {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.main_section--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--gray2-color);
  padding-top: 10px;
}
.main_div--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  width: 300px;
  height: 98px;
}
.main_important {
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.main_about--section {
  width: 90%;
  padding-left: 75px;
}
.main_about--container {
  margin-top: 93px;
}
.main_about--title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 3%;
  margin-bottom: 50px;
  color: var(--gray-color);
}
.main_about--images {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main_about--img {
  height: 294px;
  width: 370px;
  background-repeat: no-repeat;
  border-bottom: 70px solid rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}
.main_about--img:nth-child(1) {
  background-image: url("../img/box-1.png");
  background-size: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main_about--img:nth-child(1) {
    background-image: url("../img/box-1@2x.png");
  }
}
.main_about--img:nth-child(2) {
  background-image: url("../img/box-2.png");
  background-size: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main_about--img:nth-child(2) {
    background-image: url("../img/box-2@2x.png");
  }
}
.main_about--img:nth-child(3) {
  background-image: url("../img/box-3.png");
  background-size: 100%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main_about--img:nth-child(3) {
    background-image: url("../img/box-3@2x.png");
  }
}
.main_about--span {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  top: 112%;
  position: absolute;
}
.main_our_team--section {
  padding-bottom: 150px;
  margin-left: 75px;
}
.main_our_team--container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main_our_team--card {
  padding-bottom: 30px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.main_our_team--title {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3%;
  color: var(--gray-color);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
}
.main_our_team--img {
  width: 270px;
  height: 260px;
  margin-top: 50px;
}
.main_our_team--text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 3%;
  color: var(--gray-color);
  text-align: center;
  margin-top: 30px;
}
.main_our_team--text2 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 3%;
  color: var(--gray2-color);
  text-align: center;
  margin-top: 9px;
}
.main-nav {
  margin-top: 60px;
}
.main-list {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 30vw;
  padding-right: 30vw;
  flex-wrap: wrap;
}
.main-item {
  list-style: none;
  background-color: var(--white2-color);
  width: 100px;
  height: 35px;
  border-radius: 2px;
}
.main-link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}
.main-link:hover {
  color: var(--white-color);
}
.main-item:hover {
  background-color: var(--blu-color);
}
.main-container {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 4vh;
  margin-left: 20px;
}
.main-box-wrap1 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img.svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap2 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(1\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap3 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(2\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap4 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(5\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap5 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(4\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap6 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(3\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap7 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(6\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap8 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(7\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap9 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(8\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
.main-box-wrap9-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transform: translateY(100%);
}
@keyframes wrapimag {
  0% {
    transform: translateY(100);
  }
  100% {
    transform: translateY(0);
  }
}
.main-box-wrap9-box-wrap1:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap2:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap3:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap4:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap5:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap6:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap7:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap8:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-box-wrap9:hover .overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}
.main-box-wrap9-text {
  padding-left: 20px;
  margin-bottom: 25px;
}
.main-box-wrap9-text1 {
  padding-left: 20px;
  padding-bottom: 10px;
}
.main-box-wrap9-section-wrap {
  background-color: var(--white2-color);
}
.main-box-wrap9-overlay-text {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}
.main-box-wrap9-buttonn {
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: var(--blu-color);
  font-family: "Roboto", sans-serif;
  color: var(--white-color);
  box-shadow: 1px 1px 2px var(--blu-color);
}
.main-box-wrap9-buttom {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.footer_menu {
  background-color: var(--gray-color);
  height: 150px;
  width: 100%;
}
.footer_menu--tittle {
  font-family: "Raleway", sans-serif;
  color: var(--white-color);
  margin-left: 80px;
  padding-top: 20px;
}
.footer_menu--span {
  color: var(--blu-color);
}
.footer_menu--text2 {
  color: var(--white-color);
  margin-left: 80px;
  padding-top: 10px;
}
.footer_menu--text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--gray2-color);
  margin-left: 80px;
  padding-top: 10px;
}

.main-ul {
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 30vw;
  padding-right: 30vw;
  flex-wrap: wrap;
}

.main-li {
  list-style: none;
  background-color: var(--white2-color);
  width: 100px;
  height: 35px;
  border-radius: 2px;
}

.main-link {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.main-link:hover {
  color: var(--white-color);
}

.main-li:hover {
  background-color: var(--blu-color);
}

.main-container {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
  margin-top: 4vh;
  margin-left: 20px;
}

.main-box-wrap1 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img.svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap2 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(1\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap3 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(2\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap4 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(5\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap5 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(4\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap6 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(3\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap7 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(6\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap8 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(7\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-box-wrap9 {
  margin: 0 auto;
  width: 370px;
  height: 294px;
  background-image: url(../img/img\ \(8\).svg);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.main-overlay {
  position: absolute;
  transition: transform 600ms ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  transform: translateY(100%);
}

@keyframes wrapimag {
  0% {
    transform: translateY(100);
  }
  100% {
    transform: translateY(0);
  }
}
.main-box-wrap1:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap2:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap3:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap4:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap5:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap6:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap7:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap8:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-box-wrap9:hover .main-overlay {
  animation: wrapimag 1500ms ease-in-out 100ms infinite;
}

.main-text {
  padding-left: 20px;
  margin-bottom: 25px;
}

.main-text1 {
  padding-left: 20px;
  padding-bottom: 10px;
}

.main-section-wrap {
  background-color: var(--white2-color);
}

.main-overlay-text {
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.section-titlee {
  padding-left: 10px;
  padding-top: 10px;
}